.mainHero .heroNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Switzer';
    font-style: normal;
}

.navFirst {
    display: flex;
    align-items: baseline;
    gap: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #374151;
    text-transform: uppercase;
}

.heroNav .navSecond,
.heroNav .navThird {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.heroNav .navSecond p,
.navThird .navSignIn {
    color: #374151;
    cursor: pointer;
}

.navThird .navSignUp {
    font-weight: 600;
    font-size: 20px;
    color: #2E7DD7;
    cursor: pointer;
}

.navThird .navSignIn {
    font-size: 20px;
}

.navThird .navPost {
    width: 175px;
    height: 56px;
    background: #2E7DD7;
    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.heroNav .navThird {
    gap: 24px;
    align-items: baseline;
}

.navham {
    display: none;
}


@media (max-width: 700px) {

    .heroNav .navSecond,
    .heroNav .navThird {
        display: none;
    }

    .navham {
        display: block;
        filter: invert(100%);
        padding-bottom: 5px;
    }

    .homeCanvasCancel {
        width: 20px;
        height: 20px;
        margin-top: -20px;
    }

    .homeCanvas {
        padding: 12px 24px;
        font-family: 'Switzer';
        font-style: normal;
        width: 100%;
    }

    .homeCanvasFirstDiv {
        margin-top: 44px;
    }

    .homeCanvas hr {
        margin-top: 64px;
        margin-bottom: 48px;
        color: #2E7DD7;
    }

    .homeCanvasFirstDiv>p,
    .homeCanvasSecondDiv>p {
        font-weight: 400;
        font-size: 18px;
        color: #374151;
        margin-top: 26px;
    }

    .homeCanvasSecondDiv>p:first-child {
        color: #2E7DD7;
    }

    .homeCanvasSecondDiv>button {
        width: 242px;
        height: 56px;
        border: none;
        outline: none;
        background: #2E7DD7;
        border-radius: 4px;
        margin-top: 16px;
        color: white;
    }
}