.mainThird {
    width: 100%;
    min-height: 100vh;
    padding: 64px;
    padding-bottom: 128px;
}

.mainThird .thirdInner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: left;
}

.thirdInner>div>h1 {
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #374151;
}


.thirdInner>div>p {
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #6B7280;
}

.thirdInner>p {
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #374151;
    display: flex;
    align-items: baseline;
    gap: 10px;
    cursor: pointer;
}

.thirdImages {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 90px;
}

.firstImgDiv {
    width: 60%;
    position: relative;
}

.firstImgDiv p {
    position: absolute;
    bottom: 7px;
    left: 24px;
    color: white;
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.secondImgDiv p,
.thirdImgDiv p {
    position: absolute;
    bottom: -5px;
    left: 16px;
    color: white;
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.secondImgDiv,
.thirdImgDiv {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.secondImgDiv>div,
.thirdImgDiv>div {
    position: relative;
}

.firstImgDiv>img {
    width: 100%;
    height: 624px;
    border-radius: 24px;
}

.secondImgDiv img,
.thirdImgDiv img {
    width: 100%;
    height: 300px;
    border-radius: 16px;
}

.firstHover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(0deg, rgba(46, 125, 215, 0.6), rgba(46, 125, 215, 0.6));
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    display: none;
}

.secondHover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(46, 125, 215, 0.6), rgba(46, 125, 215, 0.6));
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: none;
}

.firstHover>div,
.secondHover>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstHover h6 {
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

.firstHover span {
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}

.secondHover h6 {
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.secondHover span {
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}

.thirdSeeAll {
    display: none;
}

@media (max-width: 700px) {
    .thirdInner>div>h1 {
        font-size: 24px;
    }

    .thirdInner>div>p {
        font-size: 16px;
    }

    .thirdInner>p {
        display: none;
    }

    .mainThird {
        padding: 24px;
    }

    .thirdImages {
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .thirdImages img {
        width: 100%;
    }

    .secondImgDiv,
    .thirdImgDiv,
    .firstImgDiv {
        width: 100%;
        border-radius: 12px;
    }

    .firstImgDiv img {
        height: 300px;
    }

    .firstImgDiv p {
        font-size: 16px;
    }

    .thirdSeeAll {
        display: block;
        width: 205px;
        height: 54px;
        background: #FFFFFF;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 80px;
        border: 1px solid #2E7DD7;
        border-radius: 8px;
        font-family: 'Switzer';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #2E7DD7;
    }

    .thirdSeeAll img {
        margin-left: 10px;
    }

    .mainThird {
        background-color: #F9FAFB;
    }
}