.mainDiv {
    width: 100vw;
    min-height: 100vh;
    background: #FFFFFF;
    font-family: 'Sora';
    font-style: normal;
}

.dashTopSet {
    width: 100%;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    height: 136px !important;
    background: #FFFFFF;
    border-bottom: 1px solid #E5E7EB;
}

.dashTopDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.colDiv {
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #374151;
}

.dashTopDiv>div>img {
    width: 16px;
    height: 30px;
}

.rowDiv {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.rowDiv>p {
    width: 114px;
    height: 30px;
    background: #2E7DD7;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    cursor: pointer;
}

.rowDiv>p>span {
    font-size: 20px;
    margin-left: 5px;
}

.secondSet {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.secondSet>div {
    display: flex;
    gap: 25px;
}

.secondSet p {
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #6B7280;
    padding-bottom: 20px;
    cursor: pointer;
}

.active {
    color: #2E7DD7 !important;
    border-bottom: 2px solid #2E7DD7;
}