.eightMain {
    width: 100%;
    height: 100%;
    padding-top: 3rem;
}

.browseProp {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #374151;
}

.downloadApp {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #6B7280;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 3rem;
}

.eightMain img {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .woman {
        width: 375px;
        height: 392.05px;
    }
}

@media only screen and (min-width: 768px) {

    .browseProp {
        font-size: 40px;
        margin-bottom: 16px;
    }

    .downloadApp {
        font-size: 20px;
    }

    .woman {
        width: 650px;
        height: 684.09px;
    }

    .womanDiv {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 18rem;
    }

    .womanDiv div {
        display: flex;
        flex-direction: column;
    }
}