.fourthMain {
    padding-top: 3rem;
    width: 100%;
    height: 100%;
    border-top: 1px solid #E5E7EB;
}

.recommend {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #374151;
    text-align: left;
    margin-left: 10%;
}

.ownLux {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #6B7280;
    text-align: left;
    width: 80%;
    margin-left: 10%;
}

.insideMainDiv {
    width: 90%;
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 32px 48px rgba(17, 17, 17, 0.06);
    border-radius: 12px;
    padding-top: 20px;
    flex-shrink: 0;
    padding-bottom: 2rem;
}

.insideMainDiv img {
    width: 90%;
    height: 168.75px;
}

@media only screen and (max-width: 768px) {
    .insideMain {
        padding-left: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .insideMainDiv {
        width: 388px;
    }

    .recommend {
        font-size: 32px;
        margin-left: 7%;
    }

    .ownLux {
        font-size: 24px;
        margin-bottom: 3rem;
        margin-left: 7%;
    }

    .fourthMain {
        border: none;
    }

    .insideMain {
        padding-left: 90px;
    }
}

.insideMainDiv h4 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    color: #374151;
    text-align: left;
    margin-left: 8%;
    margin-top: 20px;
}

.insideMainDiv p {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #4B5563;
    text-align: left;
    margin-left: 8%;
}

.insideMainDiv span {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: #2E7DD7;
    text-align: left;
    margin-left: -35%;
}

.insideMain {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
    gap: 20px;
}

::-webkit-scrollbar {
    display: none;
}