.ninthMainDesk {
    width: 100%;
    height: 449px;
    background-color: #EAF2FB;
    padding-top: 3rem;
    margin-top: 3rem;
    position: relative;
}

.subscribeDesk {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #374151;
}

.beTheFirstDesk {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #4B5563;
    width: 643px;
}

.subDivDesk {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.subDivDesk input {
    width: 40vw;
    height: 64px;
    background: #FFFFFF;
    border: 1px solid #2E7DD7;
    outline: none;
    border-radius: 12px 0px 0px 12px;
    padding-left: 2rem;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4B5563;
}

.subDivDesk p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 13vw;
    height: 64px;
    background: #2161AA;
    border: 1px solid #2E7DD7;
    border-radius: 0px 12px 12px 0px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.planeDesk {
    position: absolute;
    top: 20%;
    right: 14%;
    width: 159.5px;
    height: 172.5px;
}

.lineDesk {
    position: absolute;
    top: 36%;
    right: 2%;
    width: 216.41px;
    height: 310.96px;
}

@media screen and (max-width: 1300px) {
    .subscribeDesk {
        font-size: 24px;
    }

    .beTheFirstDesk {
        font-size: 20px;
    }

    .subDivDesk p {
        font-size: 20px;
    }

    .planeDesk {
        width: 119.5px;
        height: 132.5px;
        top: 29%;
    }

    .lineDesk {
        width: 186.41px;
        height: 290.96px;
        top: 42%;
    }
}