.aSixMainDiv {
    width: 100%;
    padding: 64px 156px 95px 124px;
}

.aSixMainDiv>h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 2.7vw;
    color: #374151;
}

.aSixMainDiv>h2 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 300;
    font-size: 2.7vw;
    color: #374151;
}

.aSixMainDiv>form {
    width: 100%;
}

.aSixMainDiv>form>div {
    display: flex;
    width: 100%;
    gap: 30px;
    margin-top: 44px;
}

.aSixMainDiv>form>div>div {
    width: 100%;
    position: relative;
}

.aSixMainDiv label,
.aSixMainDiv p,
.aSixMainDiv input,
.aSixMainDiv textarea {
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #374151;
}

.aSixMainDiv input,
.aSixMainDiv p {
    width: 100%;
    height: 52px;
    background: #F3F4F6;
    border: none;
    padding: 0 24px;
}

.aSixMainDiv p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.aSixMainDiv textarea {
    width: 100%;
    height: 203.21px;
    background: #F3F4F6;
    border: none;
    resize: none;
    padding: 16px 24px 0px 24px;
}

.aSixMainDiv input:focus,
.aSixMainDiv textarea:focus {
    background-color: white;
    outline: 1px solid #306584;
}

.aSixMainDiv button {
    margin-top: 40px;
    border: none;
    outline: none;
    width: 50%;
    height: 69.25px;
    background: #39789C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #F9FAFB;
    gap: 20px;
}

.sixthDiv {
    width: 100%;
    height: 134px;
    background: #FFFFFF;
    border: 0.5px solid #E5E7EB;
    box-shadow: 0px 0px 16px rgba(17, 17, 17, 0.06);
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: none;
    overflow: scroll;
    position: absolute;
    z-index: 1;
}

.sixthDiv>li {
    list-style-type: none;
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 18px;
    color: #374151;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}

#rangeDivSixth {
    padding-top: 10px;
    height: 160px;
}

#rangeDivSixth>span {
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #374151;
    padding-bottom: 13px;
    margin-top: 10px;
}

.theRangeDiv {
    margin-top: 20px;
}

.theRangeDiv>span {
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #374151;
    padding-bottom: 13px;
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .aSixMainDiv>form>div {
        flex-wrap: wrap;
    }

    .aSixMainDiv {
        padding: 64px 45px 95px 32px;
    }

    .aSixMainDiv>h1 {
        font-size: 5.5vw
    }

    .aSixMainDiv>h2 {
        font-size: 4.5vw;
    }

    .aSixMainDiv textarea {
        height: 168px;
    }

    .aSixMainDiv button {
        width: 100%;
    }

    .sixthDiv>li {
        font-size: 3.5vw;
    }
}

.show {
    display: block;
}