.aThirdMain {
    padding: 90px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.thirdInnerDiv {
    width: 40%;
}

.aThirdMain>img {
    width: 30%;
}

.thirdInnerDiv>h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    color: #374151;
}

.thirdInnerDiv>h2 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 200;
    font-size: 3vw;
    color: #374151;
}

.thirdInnerDiv>h4 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    color: #4B5563;
    margin-top: 64px;
}

.thirdInnerDiv>p {
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vw;
    color: #4B5563;
    margin-top: 40px;
}

.thirdInnerDiv>div {
    display: flex;
    align-items: baseline;
    margin-top: 24px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.thirdInnerDiv>div>p {
    margin-left: 10px;
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    color: #4B5563;
}

@media screen and (max-width: 800px) {
    .aThirdMain {
        flex-direction: column;
        padding: 90px 30px;
        row-gap: 30px;
    }

    .thirdInnerDiv {
        width: 100%;
    }

    .aThirdMain>img {
        width: 100%;
    }

    .thirdInnerDiv>h1 {
        font-size: 6vw;
    }

    .thirdInnerDiv>h2 {
        font-size: 5vw;
    }

    .thirdInnerDiv>p {
        font-size: 3.5vw;
    }

    .thirdInnerDiv>h4 {
        font-size: 4.5vw;
    }

    .thirdInnerDiv>div>img {
        width: 24px;
        height: 24px;
    }

    .thirdInnerDiv>div>p {
        font-size: 3.5vw;
    }
}