.heroSixth {
    width: 100%;
    height: 130vh;
    padding: 96px 64px;
    background: #F9FAFB;
    font-family: 'Switzer';
    font-style: normal;
    text-align: left;
    margin-bottom: 34px;
}

.heroSixthInner {
    display: flex;
    gap: 174px;
}

.innerHeroSixth {
    width: 90%;
}

.heroSixthInner>div>h1 {
    font-weight: 700;
    font-size: 40px;
    color: #374151;
}

.innerHeroSixth>p {
    font-weight: 400;
    font-size: 20px;
    color: #6B7280;
    margin-top: 24px;
}

.innerHeroSixth>img {
    margin-top: 64px;
}

.faqQuestions {
    width: 100%;
}

.faqQuestions h6 {
    font-weight: 500;
    font-size: 20px;
    color: #374151;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faqQuestions p {
    font-weight: 400;
    font-size: 16px;
    color: #6B7280;
    margin-top: 16px;
}

.faqQuestions div {
    border-bottom: #6B7280 1px solid;
    margin-top: 34px;
    padding-bottom: 24px;
}

.faqQuestions div:first-child {
    margin-top: 0px;
}

.hiddenFaq {
    display: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

@media (max-width: 700px) {
    .heroSixth {
        padding: 64px 24px;
        height: auto;
    }

    .heroSixthInner {
        display: block;
    }

    .faqQuestions {
        margin-top: 64px;
        margin-bottom: 150px;
    }

    .heroSixthInner>div>h1 {
        font-size: 24px;
    }

    .innerHeroSixth>p {
        font-size: 16px;
    }

    .innerHeroSixth>img {
        width: 100%;
    }

    .faqQuestions p {
        font-size: 14px;
    }
}