.mainHero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #C0D8F3 0%, #6DA4E3 100%);
    padding: 24px 64px;
    padding-bottom: 0px;
}

.mainHero .heroNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Switzer';
    font-style: normal;
}

.heroNav .navFirst {
    display: flex;
    align-items: baseline;
    gap: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #374151;
    text-transform: uppercase;
}

.heroNav .navSecond,
.heroNav .navThird {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.heroNav .navSecond p,
.navThird .navSignIn {
    color: #374151;
    cursor: pointer;
}

.navThird .navSignUp {
    font-weight: 600;
    font-size: 20px;
    color: #2E7DD7;
    cursor: pointer;
}

.navThird .navSignIn {
    font-size: 20px;
}

.navThird .navPost {
    width: 175px;
    height: 56px;
    background: #2E7DD7;
    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.heroNav .navThird {
    gap: 24px;
    align-items: baseline;
}

.heroSecond {
    margin-top: 105px;
}

.heroSecond>h1 {
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #374151;
}

.heroSecond>h1>span {
    color: #2E7DD7;
}

.heroSecond>p {
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #374151;
    width: 1001px;
    margin: 0 auto;
}

.heroSearch {
    position: absolute;
    width: 792px;
    height: 176px;
    left: 25%;
    top: 388px;
    background: #FFFFFF;
    border: 1px solid #F3F4F6;
    box-shadow: 64px 0px 86px rgba(109, 164, 227, 0.22);
    border-radius: 4px;
    isolation: isolate;
    padding: 32px;
}

.heroSearch .heroInput {
    width: 100%;
    display: flex;
    gap: 10px;
}

.heroSearch .heroInput input {
    width: 100%;
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #374151;
    border: none;
    outline: none;
}

.heroSearch .heroSearchButton {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 41px;
}

.heroSearch .heroSearchButton p {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    gap: 16px;
    width: auto;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #F3F4F6;
    border-radius: 4px;
    font-family: 'Switzer';
    color: #374151;
    cursor: pointer;
}

.heroSearch .heroSearchButton button {
    width: 148px;
    height: 45px;
    background: #2E7DD7;
    border-radius: 4px;
    border: none;
    outline: none;
    font-family: 'Switzer';
    color: #FFFFFF;
}

.mobileHero {
    display: none;
}

.navham {
    display: none;
}

.mobileHeroSearch {
    display: none;
}

@media (max-width: 700px) {

    .heroNav .navSecond,
    .heroNav .navThird {
        display: none;
    }

    .mainHero {
        padding: 24px;
        min-height: 30vh;
    }

    .heroSearch {
        display: none;
    }

    .heroImage {
        display: none;
    }

    .heroSecond>p {
        width: 100%;
        font-size: 16px;
        margin-bottom: 50px;
    }

    .heroSecond>h1 {
        font-size: 40px;
    }

    .mobileHero {
        display: block;
        margin-left: -24px;
        width: 100vw;
        margin-bottom: -50px;
    }

    .navham {
        display: block;
        filter: invert(100%);
        padding-bottom: 5px;
    }

    .mainHero .heroNav {
        align-items: baseline;
    }

    .mobileHeroSearch {
        display: block;
        width: 90%;
        height: 333px;
        background: #FFFFFF;
        box-shadow: 8px -8px 16px rgba(17, 17, 17, 0.06), -8px 8px 16px rgba(17, 17, 17, 0.06);
        border-radius: 4px;
        left: 5%;
        padding: 24px;
        margin-top: -30px;
        position: absolute;
        z-index: 2;
    }

    .theMainHero {
        min-height: 107vh;
    }

    .heroInputMobile {
        width: 100%;
    }

    .heroInputMobile input {
        width: 90%;
        height: 50px;
        border: none;
        outline: none;
        padding-left: 20px;
        font-family: 'Switzer';
        font-style: normal;
    }

    .mobileHeroSearch>p {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 12px 6px;
        font-family: 'Switzer';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #374151;
        border-bottom: 1px solid #F3F4F6;
    }

    .mobileHeroSearch>p:first-child {
        margin-top: 12px;
    }

    .mobileHeroSearch>button {
        width: 100%;
        height: 45px;
        background: #2E7DD7;
        border-radius: 2px;
        border: none;
        outline: none;
        font-family: 'Switzer';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        margin-top: 10px;
    }
}