.descMain {
    width: 100%;
    height: 250px;
    background: #EAF2FB;
}

.descMainImage {
    width: 90%;
}

.descImages {
    padding-left: 10%;
    margin-top: -7rem;
}

.descOtherImage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 90%;
    margin-top: 1rem;
}

.descOtherImage img {
    width: 20%;
}

.theDesc {
    padding-left: 10%;
    padding-top: 2rem;
}

.descFeatures {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-left: 10%;
}

.descList {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 10%;
    line-height: 200%;
    color: #4B5563;
}