.agentFooter {
    width: 100%;
    background: #F9FAFB;
    padding: 50px 120px;
    font-family: 'Switzer';
    font-style: normal;
}

.theMainFooterDiv {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 70px;
}

.footerProductDiv {
    display: flex;
    gap: 80px;
}

.firstFooterDiv>p {
    display: flex;
    align-items: baseline;
    gap: 8px;
    color: #4B5563;
}

.firstFooterDiv>p>img {
    width: 48px;
    height: 40.42px;
}

.footerProductDiv h6 {
    font-weight: 500;
    font-size: 20px;
    color: #374151;
    margin-bottom: 16px;
}

.footerProductDiv p {
    color: #4B5563;
}

.lastFooterDiv>h5 {
    font-weight: 600;
    font-size: 24px;
    color: #374151;
}

.lastFooterDiv>p {
    font-size: 20px;
    color: #374151;
    width: 371px;
}

.lastFooterDiv>div {
    width: 364px;
    height: 56px;
    background: #FFFFFF;
    border: 0.5px solid #2E7DD7;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 2px;
}

.lastFooterDiv input {
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    padding-left: 18px;
    color: #374151;
}

.lastFooterDiv img {
    cursor: pointer;
}

.finalFooterDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.finalFooterDiv div {
    display: flex;
}

.finalFooterDiv img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.finalFooterDiv div:first-child {
    gap: 16px;
}

.finalFooterDiv div:last-child {
    gap: 56px;
}

@media (max-width: 700px) {
    .heroFooter {
        padding: 0px 36px;
        padding-top: 1px;
        height: auto;
    }

    .heroCrossDiv {
        padding: 40px 40px 0px 40px;
        height: 320px;
        margin-top: -150px;
        border-radius: 12px;
    }

    .heroCrossDiv>h1 {
        font-size: 24px;
    }

    .heroCrossDiv>p {
        width: auto;
        font-size: 16px;
        margin-top: 24px;
    }

    .heroCrossDiv>button {
        width: 100%;
        margin-top: 24px;
    }

    .theMainFooterDiv {
        flex-wrap: wrap;
        row-gap: 64px;
        margin-left: -12px;
    }

    .lastFooterDiv>p {
        width: 90%;
    }

    .lastFooterDiv>div {
        width: 100%;
        margin-top: 24px;
    }

    .finalFooterDiv {
        flex-wrap: wrap;
        row-gap: 46px;
    }

    .finalFooterDiv>div>p {
        font-size: 12px;
    }

    .theFinalCopy {
        justify-content: center;
        width: 100%;
    }
}