.analyMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Switzer";
    position: relative;
    height: 87vh;
}

.analyMain>h2 {
    font-weight: 500;
    color: rgba(55, 65, 81, 1);
    font-size: 24px;
    margin: 0px;
}

.analyMain>p {
    color: rgba(107, 114, 128, 1);
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px 20px 0px;
}

.analyMain>img {
    width: 800px;
    height: 300px;
}

.analyMain>button {
    width: 300px;
    height: 47px;
    border-radius: 4px;
    border: 1px solid rgba(229, 231, 235, 1);
    background-color: white;
    margin-top: 50px;
    outline: none;
}

@media (max-width: 800px) {
    .analyMain>img {
        width: 90vw;
        height: 200px;
    }

    .analyMain {
        height: 90vh;
        padding: 100px 20px 0px 20px;
    }

    .analyMain>p {
        text-align: center;
    }
}