.getAttDesk {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 25px;
    color: #6B7280;
    margin-top: -10px;
}

.deskAddTitle {
    margin-left: 98px;
    margin-top: 54px;
}

.getAttDiv {
    display: flex;
    align-items: baseline;
}

.getAttDiv>img {
    width: 20px;
    margin-right: 15px;
    margin-left: -10px;
}

.getAttDiv>span {
    align-self: flex-start;
}

.getAttDiv>div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 93px;
    height: 28px;
    background: #F1F5F9;
    border-radius: 100px;
}

.getAttDiv>div>p {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 0.6em;
    line-height: 16px;
    color: #334155;
    margin-left: 5px;
    margin-top: 5px;
}

.getAttDiv>div>img {
    border-radius: 100%;
    width: 20px;
    margin-top: 3px;
}

.deskAddTitle label {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #374151;
}

.propertyListDesk {
    width: 18vw;
}

#mode,
#apartment {
    width: 30.5vw;
}

#currency,
#rate {
    width: 18vw;
}

.deskAddTitle input {
    padding: 20px 160px 20px 24px;
    gap: 10px;
    width: 61.5vw;
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    outline: none;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6B7280;
}

.puporseDivDesk {
    margin-left: 98px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 60vw;
    column-gap: 10px;
}

.puporseDivDesk input {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6B7280;
    width: 20vw;
}



.puporseDivDesk input::-webkit-outer-spin-button,
.puporseDivDesk input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.puporseDivDesk input[type=number] {
    -moz-appearance: textfield;
}

.purposePara {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #374151;
}

.puporseDivDesk li {
    height: 30px;
    font-size: 16px !important;
}

.checkBoxSelect {
    margin-left: 98px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 60vw;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.checkBoxSelect label {
    display: flex;
    align-items: center;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #374151;
}

.checkBoxSelect label input {
    margin-right: 10px;
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
}

.addTextAreaDiv {
    margin-left: 98px;
    margin-top: 40px;
}

.addTextAreaDiv textarea {
    width: 61vw;
    height: 136px;
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    outline: none;
    padding: 20px 160px 20px 24px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6B7280;
    resize: none;
    text-transform: capitalize;
}

.additionFeat {
    margin-left: 98px;
    margin-top: 40px;
}

.additionFeat input {
    background: #F3F4F6;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    height: 64px;
    width: 61vw;
    padding: 20px 160px 20px 24px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6B7280;
    outline: none;
}

.additionFeat h6 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 60vw;
    margin-top: 8px;
    color: #374151;
}

.additionFeat h6 span {
    color: #2E7DD7;
}

.addHouseImages {
    margin-left: 98px;
    margin-top: 40px;
}

.addHouseMainImage {
    height: 164px;
    width: 60vw;
    background: #FFFFFF;
    border: 1px dashed #E5E7EB;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.addHouseOtherImage {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.addHouseOtherImage div {
    height: 112px;
    width: 11vw;
    background: #FFFFFF;
    border: 1px dashed #E5E7EB;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 40px 24px; */
    gap: 10px;
    margin-top: 16px;
    cursor: pointer;
}

.addHouseMainImage img {
    width: 30%;
    height: 90%;
}

.addHouseOtherImage img {
    width: 90%;
    height: 90%;
}

.addFinal1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 213px;
    height: 60px;
    background: #F3F4F6;
    border-radius: 8px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #374151;
    cursor: pointer;
}

.addFinal2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    width: 121px;
    height: 46px;
    background: #2E7DD7;
    border-radius: 8px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.addFinalButton {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 98px;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.addFinalButton>div {
    display: flex;
    gap: 10px;
}

.aptSpan {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #9CA3AF;
}

.priceRange {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #6B7280;
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin-left: 5%;
    margin-top: 10px;
}

.myToast {
    position: fixed;
    top: 0px;
    width: 70vw;
    background-color: #2e47d7;
}

#myToast {
    color: black;
}

.proBar {
    width: 22vw;
    height: 8px;
}

.proBarDiv {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    margin-top: 40px;
    margin-left: 10%;
    font-family: 'Sora';
    font-style: normal;
    border-bottom: 1px solid #E5E7EB;
}

.proBarDiv span {
    margin-left: 8vw;
}

.divBar p {
    margin-top: 20px;
}

#secondLayer>div>div>div {
    width: 30.5vw;
}

@media screen and (max-width: 800px) {
    .proBarDiv h4 {
        font-size: 14px;
    }

    .proBarDiv {
        margin-left: 2%;
        width: 98%;
        align-items: baseline;
    }

    .divBar p {
        font-size: 12px;
        width: 40vw;
        display: flex;
        justify-content: space-between;
    }

    .proBar {
        width: 40vw;
    }

    .getAttDesk,
    .getAttDiv {
        display: none;
    }

    .deskAddTitle,
    .puporseDivDesk {
        margin-left: 0px;
    }

    .deskAddTitle input {
        width: 90vw;
        padding-right: 10px;
    }

    .puporseDivDesk input {
        width: 28.5vw;
    }

    .purposePara {
        font-size: 14px;
    }

    .aptSpan {
        margin-left: 17px;
    }

    .addFinalButton {
        margin-left: 0px;
        gap: 15px;
    }

    .addFinal1 img {
        display: none;
    }

    .addFinal1 {
        flex-shrink: 0;
        font-size: 14px;
        width: 40vw;
        height: 46px;
    }

    .addFinalButton div p {
        width: 21.5vw;
    }

    .myToast {
        width: 90vw;
        background-color: #2E7DD7;
    }

    #secondLayer>div {
        width: 100%;
    }

    #secondLayer>div>div>div {
        width: 45vw;
    }

    #secondLayer>div>div>ul {
        width: 45vw;
    }

    #thirdLayer>div {
        width: 100%;
    }

    #thirdLayer>div>div>div {
        width: 45vw;
    }

    #thirdLayer>div>div>ul {
        width: 30%;
    }

    .addTextAreaDiv {
        margin-left: 0px;
    }

    .addTextAreaDiv>textarea {
        width: 100%;
        padding: 10px;
    }

    .checkBoxSelect {
        margin-left: 0px;
    }

    .additionFeat {
        margin-left: 0px;
    }

    .additionFeat>input {
        width: 100%;
    }

    .additionFeat h6 {
        width: 100%;
    }

    .addHouseImages {
        margin-left: 0px;
    }

    .mainImage {
        width: 100%;
    }

    .addHouseMainImage {
        width: 100%;
    }

    .addHouseOtherImage {
        width: 100%;
    }

    .addHouseOtherImage label div {
        width: 100%;
        height: 90px;
    }

    .addHouseOtherImage label {
        width: 18%;
    }

    .addHouseOtherImage img {
        width: 60px;
        height: 65px;
    }

    .checkBoxSelect label {
        font-size: 13px;
    }

}