.listDashDiv {
    width: 100vw;
    background-color: #F9FAFB;
}

#theListText>h6 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
}

#theListText>p {
    font-weight: 400;
    font-size: 16px;
    color: #6B7280;
}

#theListIcon {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.listFilterDiv {
    width: 100%;
    height: 92px;
    background-color: #F9FAFB;
    border-bottom: 1px solid #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 15px;
    font-family: 'Sora';
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
}

.listFilterDiv>div {
    display: flex;
    gap: 12px;
}

.listFilterDiv>div>p {
    cursor: pointer;
}

.listFilterDiv>div>p>span {
    font-size: 10px;
    margin-left: 5px;
    color: #6B7280;
}

.listP>p {
    padding-bottom: 34px;
    padding-top: 34px;
}

.activeList {
    border-bottom: 2px solid #2E7DD7;
    font-weight: 600;
    color: #2E7DD7;
}

.listSearch {
    width: 45%;
    height: 44px;
    background: #F3F4F6;
    border: 0.5px solid #DFE3E8;
    border-radius: 4px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.listSearch>img {
    width: 20px;
    height: 20px;
}

.listSearch>input {
    width: 82%;
    margin-left: 10px;
    height: 100%;
    background: #F3F4F6;
    border: none;
    outline: none;
}

.listFilter {
    height: 44px;
    width: 30%;
    background: #FFFFFF;
    border: 1px solid #97BEEB;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.listPro {
    height: 44px;
    background: #F3F4F6;
    border: 0.5px solid #DFE3E8;
    border-radius: 4px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.listContentDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    gap: 16px;
    width: 70vw;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #2E7DD7;
    border-radius: 16px;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.listContentDiv h4 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #374151;
    margin-top: 1rem;
    text-transform: capitalize;
}

.listContentDiv h5 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #374151;
    display: flex;
    width: 80%;
    align-items: center;
    margin-bottom: 50px;
}

.listContentDiv h5 img {
    margin-right: 10px;
}

.listContentDivImg {
    width: 200px;
    height: 160px;
}

.listAmtDesk {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: #2E7DD7;
    margin-bottom: -5px;
}

.descImgInfoMob {
    display: flex;
    justify-content: space-between;
    width: 43vw;
    flex-wrap: wrap;
}

.listCanvas {
    height: 100%;
    width: 350px;
    transition: ease-in-out 0.5s;
    padding-bottom: 10px;
    border-top: 1px solid #E5E7EB;
}

.offcanvas-backdrop.show {
    opacity: 0;
}

.canvasMainImage {
    width: 90%;
    border-radius: 16px;
}

.canvasHouseTitle {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #374151;
    margin-top: 1rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    text-transform: capitalize;
}

.canvasHouseTitle span {
    padding: 5px 10px;
    background: #F8EDED;
    border-radius: 14px;
    color: #BF5E65;
    font-weight: 400;
}

.canvasAddress {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #374151;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    text-transform: capitalize;
}

.canvasAddress img {
    margin-right: 10px;
}

.canvasInfo {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #6B7280;
    width: 90%;
    text-align: left;
    margin-top: 10px;
    text-transform: capitalize;
}

.otherPhotos {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #374151;
    text-align: left;
    margin-left: 5%;
}

.otherPhotoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.otherPhotoDiv img {
    width: 96px;
    height: 76.8px;
}

.spinDiv {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
}