.listDashDiv {
    width: 100vw;
    background-color: #F9FAFB;
    font-family: 'Sora';
    font-style: normal;
}

.dashListTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-left: 64px;
    padding-right: 64px;
    height: 86px;
    background: #FFFFFF;
    border-bottom: 1px solid #E5E7EB;
    font-family: 'Sora';
    font-style: normal;
}

#theListText>h6 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
}

#theListText>p {
    font-weight: 400;
    font-size: 16px;
    color: #6B7280;
}

#theListIcon {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

#theListIcon>div {
    display: flex;
    justify-content: center;
    gap: 4px;
    min-width: 93px;
    max-width: auto;
    height: 24px;
    background: #F1F5F9;
    border-radius: 100px;
}

.listFilterDiv {
    width: 100%;
    height: 92px;
    background-color: #F9FAFB;
    border-bottom: 1px solid #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 15px;
    font-family: 'Sora';
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
}

.listFilterDiv>div {
    display: flex;
    gap: 12px;
}

.listFilterDiv>div>p {
    cursor: pointer;
}

.listFilterDiv>div>p>span {
    font-size: 10px;
    margin-left: 5px;
    color: #6B7280;
}

.listP>p {
    padding-bottom: 34px;
    padding-top: 34px;
}

.activeList {
    border-bottom: 2px solid #2E7DD7;
    font-weight: 600;
    color: #2E7DD7;
}

.listSearch {
    width: 12vw;
    height: 44px;
    background: #F3F4F6;
    border: 0.5px solid #DFE3E8;
    border-radius: 4px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.listSearch>img {
    width: 20px;
    height: 20px;
}

.listSearch>input {
    width: 82%;
    margin-left: 10px;
    height: 100%;
    background: #F3F4F6;
    border: none;
    outline: none;
}

.filterDivList {
    width: 12vw;
    position: relative;
}

.listSelect {
    position: absolute;
    width: 14vw;
    height: 175px;
    padding-top: 10px;
    padding-left: 18px;
    background: #FFFFFF;
    border: 0.5px solid #F3F4F6;
    box-shadow: 24px 0px 48px rgba(17, 17, 17, 0.11);
    border-radius: 8px;
    top: 30px;
    margin-left: 30px;
    display: none;
}

.filterDivList>ul>li {
    list-style-type: none;
    margin-bottom: 10px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #6B7280;
    cursor: pointer;
}

.filterDivList>ul>li:hover {
    color: #2E7DD7;
}

.listFilter {
    height: 44px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #97BEEB;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    cursor: pointer;
    padding-top: 8px;
}

.listFilter>p {
    width: 72%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listPro {
    height: 44px;
    background: #F3F4F6;
    border: 0.5px solid #DFE3E8;
    border-radius: 4px;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}


.spinDiv {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
}

.resultAmt {
    margin-left: 6%;
    margin-top: 2rem;
    font-weight: 400;
    font-size: 16px;
    color: #2E7DD7;
}

.shown {
    display: block;
}