.listDashDiv {
    width: 100vw;
    background-color: #F9FAFB;
    padding-bottom: 10rem;
    font-family: 'Sora';
    font-style: normal;
}

.dashListTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-left: 64px;
    padding-right: 64px;
    height: 86px;
    background: #FFFFFF;
    border-bottom: 1px solid #E5E7EB;
    font-family: 'Sora';
    font-style: normal;
}

#theListText>h6 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
}

#theListText>p {
    font-weight: 400;
    font-size: 16px;
    color: #6B7280;
}

#theListIcon {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

#theListIcon>div {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 4px;
    min-width: 93px;
    max-width: auto;
    height: 24px;
    background: #F1F5F9;
    border-radius: 100px;
    padding-top: 3px;
}

#theListIcon>div>p {
    font-weight: 400;
    font-size: 12px;
    color: #334155;
}

.listFilterDiv {
    width: 100%;
    height: 92px;
    background-color: #F9FAFB;
    border-bottom: 1px solid #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 15px;
    font-family: 'Sora';
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
}

.listFilterDiv>div {
    display: flex;
    gap: 12px;
}

.listFilterDiv>div>p {
    cursor: pointer;
}

.listFilterDiv>div>p>span {
    font-size: 10px;
    margin-left: 5px;
    color: #6B7280;
}

.listP>p {
    padding-bottom: 34px;
    padding-top: 34px;
}

.activeList {
    border-bottom: 2px solid #2E7DD7;
    font-weight: 600;
    color: #2E7DD7;
}

.listSearch {
    width: 12vw;
    height: 44px;
    background: #F3F4F6;
    border: 0.5px solid #DFE3E8;
    border-radius: 4px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.listSearch>img {
    width: 20px;
    height: 20px;
}

.listSearch>input {
    width: 82%;
    margin-left: 10px;
    height: 100%;
    background: #F3F4F6;
    border: none;
    outline: none;
}

.filterDivList {
    width: 12vw;
    position: relative;
}

.listSelect {
    position: absolute;
    z-index: 1;
    width: 14vw;
    height: 175px;
    padding-top: 10px;
    padding-left: 18px;
    background: #FFFFFF;
    border: 0.5px solid #F3F4F6;
    box-shadow: 24px 0px 48px rgba(17, 17, 17, 0.11);
    border-radius: 8px;
    top: 30px;
    margin-left: 30px;
    display: none;
}

.filterDivList>ul>li {
    list-style-type: none;
    margin-bottom: 10px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #6B7280;
    cursor: pointer;
}

.filterDivList>ul>li:hover {
    color: #2E7DD7;
}

.listFilter {
    height: 44px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #97BEEB;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    cursor: pointer;
    padding-top: 8px;
}

.listFilter>p {
    width: 72%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listPro {
    height: 44px;
    background: #F3F4F6;
    border: 0.5px solid #DFE3E8;
    border-radius: 4px;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}


.spinDiv {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
}

.resultAmt {
    margin-left: 6%;
    margin-top: 2rem;
    font-weight: 400;
    font-size: 16px;
    color: #2E7DD7;
}

.inCon {
    width: 23vw;
    height: 409px;
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    cursor: pointer;
    position: relative;
}

.inMain {
    width: 97%;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 190px;
}

.inTitle {
    font-weight: 600;
    font-size: 16px;
    color: #374151;
    margin-top: 1.2rem;
    width: 100%;
    overflow: hidden;
    line-height: 1.3rem;
    max-height: 3.9rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    text-transform: uppercase;
}

.inAdd {
    color: #6B7280;
    width: 100%;
    overflow: hidden;
    line-height: 1.5rem;
    max-height: 3rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.inAdd>img {
    margin-right: 10px;
}

.inCon>h6 {
    font-weight: 600;
    font-size: 16px;
    color: #2E7DD7;
    position: absolute;
    bottom: 2%;
}

.mainContent {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 6%;
}

.loadMore {
    width: 119px;
    height: 36px;
    margin-left: 45%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #F3F4F6;
    border: 0.5px solid #DFE3E8;
    border-radius: 4px;
}

.theModal {
    background: #FFFFFF;
    border-radius: 8px;
    width: 60vw;
    height: 600px;
    position: absolute;
    top: 5%;
    left: 30%;
    display: none;
}

.modeHead {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #E5E7EB;
}

.modeHead>p>img {
    transform: rotate(180deg);
    margin-right: 10px;
}

.modeHead>p {
    color: #374151;
    cursor: pointer;
}

.modeHead>div {
    display: flex;
    gap: 20px;
}

.modeHead>div>img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.modeBody {
    width: 100%;
    height: 450px;
    margin-top: 2rem;
    position: relative;
    overflow: scroll;
}

.mainBodyImg {
    width: 90%;
    height: 450px;
    margin-left: 5%;
    border-radius: 6px
}

.shown {
    display: block;
}

.blurBack {
    filter: blur(5px);
    transition: ease-in 0.5s;
}

.moveleft,
.moveright,
.expand {
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
    cursor: pointer;
}

.expand {
    top: 5%;
    left: 8%;
    width: 40px;
}

.moveleft {
    top: 43%;
    left: 8%;
    border-radius: 100px;
    width: 54px;
}

.moveright {
    top: 43%;
    right: 8%;
    width: 54px;
    border-radius: 100px;
}

.count {
    background: #FFFFFF;
    backdrop-filter: blur(30px);
    border-radius: 4px;
    position: absolute;
    right: 7%;
    bottom: 2%;
    width: 58px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fullScreen {
    width: 100vw;
    height: 100vh;
}

.fullScreenDiv {
    position: absolute;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    top: 0px;
    display: none;
}

.otherImg {
    display: flex;
    justify-content: flex-start;
    gap: 1.5%;
    row-gap: 10px;
    margin-top: 1rem;
    margin-left: 5%;
    flex-wrap: wrap;
}

.otherImg>img {
    width: 22.5%;
    height: 110px;
    border-radius: 6px;
    cursor: pointer;
}

.activeImg {
    border: 4px solid #2E7DD7;
}

.singleTitle {
    display: flex;
    justify-content: space-between;
    margin: 2% 5% 1% 5%;
    text-transform: capitalize;
}

.singleTitle>p {
    font-weight: 600;
    font-size: 24px;
    color: #374151;
}

.singleTitle>span {
    width: 70px;
    height: 36px;
    background: #F8EDED;
    border-radius: 16px;
    color: #BF5E65;
    display: flex;
    align-items: center;
    justify-content: center;
}

.singlePrice {
    margin-left: 5%;
    font-weight: 700;
    font-size: 20px;
    color: #2E7DD7;
}

.singleLoc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.singleLoc>p {
    font-size: 14px;
    color: #374151;
}

.singleLoc>div {
    display: flex;
    gap: 30px;
}

.singleLoc>div>div {
    width: 48px;
    height: 48px;
    background: #F3F4F6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.singleLoc>div>div::after {
    content: attr(data-num);
    background: #374151;
    border-radius: 12px;
    color: white;
    position: absolute;
    right: 3%;
    top: 1%;
    padding: 1px 4px;
    font-size: 13px;
}

.singleLoc>p>img {
    margin-right: 10px;
}

.singleDesc {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
    color: #6B7280;
}

.singleContact {
    width: 202px;
    height: 50px;
    background: #2E7DD7;
    border: 1px solid #2E7DD7;
    border-radius: 8px;
    color: white;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.singleFeat {
    margin-left: 5%;
    font-weight: 700;
    font-size: 20px;
    color: #374151;
}

.singleAdd {
    margin-left: 5%;
}

.emptyDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.emptyDiv>img {
    height: 305.61px;
    width: 50vw;
}

.emptyDiv>h6 {
    margin-top: 2rem;
    font-weight: 400;
    font-size: 16px;
    color: #334155;
}

.emptyDiv>p {
    width: 11vw;
    height: 54px;
    background: #F3F4F6;
    border: 1px solid #2E7DD7;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2E7DD7;
    cursor: pointer;
    margin-top: 1rem;
}