#fullScreen {
    width: 100vw;
    height: 100vh;
}

.fullScreenDiv {
    position: absolute;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    top: 0px;
    display: none;
}

#count {
    right: 47%;
    font-family: 'Sora';
    font-style: normal;
    font-size: 24px;
    color: #374151;
}

#cancel {
    left: 94.5%;
    top: 8%;
}

#moveleft {
    left: 2%;
    top: 50%;
}

#moveright {
    right: 2%;
    top: 50%;
}

.darkList {
    width: 100%;
    min-height: 100%;
    padding-bottom: 80px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0px;
    z-index: 1;
    display: none;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
}