.deskDashMain {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.mainHead {
    display: none;
}

@media screen and (max-width: 800px) {
    .dashSideMain {
        display: none;
    }

    .mainHead {
        display: block;
    }

    .deskDashMain {
        display: block;
    }
}