.mainDashDiv {
    width: 100vw;
    min-height: 100vh;
    background: #F9FAFB;
    border-left: 1px solid #E5E7EB;
}

.dashTop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding-top: 30px;
    padding-left: 64px;
    padding-right: 64px;
    height: 86px;
    background: #FFFFFF;
    border-bottom: 1px solid #E5E7EB;
}

.dashTop>p {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #374151;
    position: relative;
}

.dashTop>div>img {
    width: 16px;
    height: 16px;
}

.dashTopImg {
    width: 16px;
    height: 16px;
    border-radius: 6px;
}

.dashTop>div>div>p {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #334155;
}

.homeDashTop,
.dashSec {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.dashTop>div>div {
    display: flex;
    padding: 4px 10px 4px 4px;
    gap: 4px;
    min-width: 93px;
    max-width: auto;
    height: 24px;
    background: #F1F5F9;
    border-radius: 100px;
}

.phoneAdd {
    display: none;
}

.deskReferDiv {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70vw;
    margin-left: 5%;
    margin-top: 3rem;
}

.myDeskRefer>div {
    margin-bottom: 30px;
}

.myDeskRefer {
    background: #FFFFFF;
    border: 1px solid #2E7DD7;
    box-shadow: -1px -1px 2px rgba(17, 17, 17, 0.06), 1px 1px 24px rgba(17, 17, 17, 0.06);
    border-radius: 12px;
    width: 60%;
    min-width: 300px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: flex-end;
}

.myDeskRefer p {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #374151;
}

.deskDude {
    width: 250px;
    height: 202px;
}

@media screen and (max-width: 1300px) {

    .myDeskRefer {
        width: 40vw;
    }

    .propImageDesk {
        display: none;
    }

    .propTableImage {
        display: none;
    }

}

@media screen and (max-width: 857px) {
    .myDeskRefer {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .tableClient {
        display: none;
    }

    .propLeadDesk {
        display: none;
    }
}

.deskMonthStat {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #374151;
    margin-top: 5rem;
    margin-left: 5%;
}

.deskMonthStat span {
    color: #2E7DD7;
}

.deskStatMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin-left: 5%;
    margin-top: 2rem;
}

.deskHand {
    padding: 24px 40px 24px 16px;
    width: 17vw;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #F3F4F6;
    border-radius: 8px;
}

.deskHand img {
    background: #E7F1F6;
    border-radius: 12px;
    padding: 14px;
}

.deskHand h4 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #374151;
    margin-top: 1rem;
}

.deskHand p {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #374151;
}

.deskHand h6 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: #2E7DD7;
}

.deskTable {
    margin-top: 55px;
    margin-left: 5%;
}

.propImageDesk img {
    width: 160px;
    height: 90px;
}

.deskTableHead tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    gap: 87px;
    width: 70vw;
    height: 68px;
    border-width: 1px;
    border-style: solid;
    border-color: #E5E7EB;
    background-color: white;
}

.deskTableBody tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    gap: 87px;
    width: 70vw;
    height: 144px;
    background: #F9FAFB;
    border-width: 1px;
    border-style: solid;
    border-color: #E5E7EB;
}

.propId {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #6B7280;
}

.propTitleDesk {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #374151;
    text-transform: capitalize;
    flex-shrink: 0;
}

.propStatusDesk {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #2E7DD7;
}

.propPriceDesk {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #374151;
    margin-right: 20px;
}

.propLeadDesk {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #374151;
}

.deskTableHead tr th {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
    width: 12%;
}

.deskTableBody tr td {
    width: 12%;
}

.spinDiv {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
}

@media screen and (max-width: 800px) {
    .mainDashDiv {
        width: 100vw;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #FFFFFF;
    }

    .dashTop {
        padding: 0px;
        background-color: #FFFFFF;
        border: none;
        height: 58px;
        margin-top: 1rem;
    }

    .deskReferDiv>img {
        display: none;
    }

    .deskReferDiv {
        width: 100%;
        margin-left: 0px;
    }

    .myDeskRefer {
        width: 100vw;
        height: 125px;
    }

    .deskDude {
        display: block;
        width: 40%;
        margin-bottom: -28px;
    }

    .myDeskRefer>div {
        margin-bottom: 7px;
    }

    .myDeskRefer>div>p {
        font-size: 16px;
    }

    .deskStatMain {
        flex-wrap: wrap;
        margin: 0px;
        width: 100%;
        row-gap: 30px;
        margin-bottom: 100px;
    }

    .deskMonthStat {
        margin-left: 0px;
        margin-top: 30px;
    }

    .deskHand {
        width: 40vw;
    }

    .deskTable {
        display: none;
    }

    .phoneAdd {
        display: block;
        width: 66px;
        height: 66px;
        background: #2E7DD7;
        box-shadow: -32px -32px 48px rgba(17, 17, 17, 0.11), 32px 32px 48px rgba(17, 17, 17, 0.06);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 5%;
        right: 5%;
    }

    .phoneAdd>div {
        color: white;
        border: 2px white solid;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 700;
    }

    .startLogo {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 10px;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #2E7DD7;
        margin-top: 10px;
    }

    .startHead {
        border-bottom: 1px solid #E5E7EB;
    }

    .topCanvas {
        height: 100vh;
        margin: 0px;
        border-radius: 0px;
    }


}