.dashLogoDesk {
    display: flex;
    align-items: baseline;
    padding: 0px;
    gap: 6px;
    height: 24px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #2E7DD7;
    margin-left: 10%;
    cursor: pointer;
}

.dashFindDesk {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #374151;
    margin-left: 10%;
}

.dashFindDesk span {
    color: #2E7DD7;
}

.dashSideMain {
    width: auto;
    min-height: 100vh;
    background: #FFFFFF;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.dashNewProp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 10px;
    width: fit-content;
    height: 48px;
    background: #2E7DD7;
    box-shadow: 0px 16px 64px rgba(59, 130, 246, 0.11);
    border-radius: 8px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #F3F4F6;
    margin-top: 64px;
    margin-bottom: 3rem;
    margin-left: 10%;
    cursor: pointer;
}

.dashSideMain img {
    width: 20px;
}

@media screen and (max-width: 900px) {
    .dashNewProp {
        width: 70%;
        margin-left: 7%;
    }
}

.dashDash {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #2E7DD7;
    margin-left: 10%;
    margin-top: 2rem;
    cursor: pointer;
}

.dashProfile,
.dashReq,
.dashMess,
.dashDis,
.dashNotify {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #6B7280;
    margin-left: 10%;
    margin-top: 2rem;
    cursor: pointer;
}

.dashReq::after,
.dashMess::after {
    content: attr(data-num);
    width: 18px;
    height: 18px;
    background: #2E7DD7;
    border-radius: 16px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 11px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashNotify::after {
    content: attr(data-num);
    width: 18px;
    height: 18px;
    background: #EF4444;
    border-radius: 16px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 11px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashNotify>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #F1F5F9;
    border-radius: 100px;
}

.userDP {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 30px
}

.userDP>img {
    margin-bottom: 18px;
    border-radius: 100%;
}

.userDP>p {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #334155;
    margin-left: 20px;
}

.userDP>p>span {
    color: #64748B;
}

.hideSide {
    display: none;
}

.justifyCenter {
    justify-content: center;
}

.justifyCenter::after {
    display: none;
}

.afterDot {
    margin-left: 18px;
}

.afterDot>div {
    background-color: white;
}

.afterDot::after {
    width: 5px;
    height: 5px;
    background-color: #EF4444;
    content: "";
    margin-left: -15px;
    margin-top: -15px;
}